.headerNav {
    padding-left: 30px;
}

.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btnDesc {
  display: block;
  padding: 20px 0 30px 0;
}

.desc {
  padding: 50px;
}

.modal {
    text-align: center;
  }
  
.modal-dialog {
    max-width: none;
    display: inline-block;
  }
