.headerNav {
    padding-left: 30px;
}

.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal {
    text-align: center;
  }
  
  .modal-dialog {
    max-width: none;
    display: inline-block;
  }
